<?xml version="1.0" encoding="utf-8"?>
<InstanceConfiguration>
  <InstanceName>DefaultInstance</InstanceName>
  <Database>
    <IsCustomAccessAllowed>true</IsCustomAccessAllowed>
    <Oracle />
    <SqlServer>
      <UserId>sa</UserId>
      <Password>enablon</Password>
    </SqlServer>
  </Database>
  <EnablonMaster />
  <WizBatch>
    <IsDailyReports>true</IsDailyReports>
    <IsCustomBatches>true</IsCustomBatches>
  </WizBatch>
  <WebServer>
    <IIS>
      <Instance>1</Instance>
      <Root></Root>
      <ApplicationPool>DefaultAppPool</ApplicationPool>
    </IIS>
    <SystemURL>http://localhost:80/</SystemURL>
  </WebServer>
  <AppServer>
    <Mode3Tier>SelfHosted</Mode3Tier>
    <Port>80</Port>
    <AskForSiteIdInDebug >true</AskForSiteIdInDebug>
  </AppServer>
</InstanceConfiguration>